<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-files-control></app-files-control>
      <hr />
      <br />
      <br />
      <app-file-features></app-file-features>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">All Printables</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/feature">Set feature</a>
        </li> -->
        <!-- <li role="presentation" routerLinkActive="active">
          <a routerLink="/feature">Users</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
